# HW2 by MM73053

### DataSet - Trees ; Trees.csv
   #### https://people.sc.fsu.edu/~jburkardt/data/csv/csv.html

 Download data in CSV format from one of the following sites: here or here. Load the data into a Pandas dataframe. Use Pandas to count the number of rows of data and number of columns. Your selection of a CSV should have at least 2 columns and at least 10 rows. Include a link to the data source in the Juptyer Notebook you submit.

In [1]:
import pandas as pd #importing pandas

In [2]:
tree = pd.read_csv("C:/Users/lenovo/Desktop/trees.csv") #reading CSV

In [3]:
tree.describe() #Describing stats on attributes

           Index   "Girth (in)"   "Height (ft)"   "Volume(ft^3)"
count  31.000000      31.000000       31.000000        31.000000
mean   16.000000      13.248387       76.000000        30.170968
std     9.092121       3.138139        6.371813        16.437846
min     1.000000       8.300000       63.000000        10.200000
25%     8.500000      11.050000       72.000000        19.400000
50%    16.000000      12.900000       76.000000        24.200000
75%    23.500000      15.250000       80.000000        37.300000
max    31.000000      20.600000       87.000000        77.000000

In [4]:
tree.head() #printing first 6 rows

   Index   "Girth (in)"   "Height (ft)"   "Volume(ft^3)"
0      1            8.3              70             10.3
1      2            8.6              65             10.3
2      3            8.8              63             10.2
3      4           10.5              72             16.4
4      5           10.7              81             18.8

In [5]:
tree.shape #Numbers of (rows,columns)

(31, 4)

In [6]:
tree.isnull().sum() #Number of Null Values

Index              0
 "Girth (in)"      0
 "Height (ft)"     0
 "Volume(ft^3)"    0
dtype: int64

In [7]:
tree.info() #Information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 4 columns):
Index              31 non-null int64
 "Girth (in)"      31 non-null float64
 "Height (ft)"     31 non-null int64
 "Volume(ft^3)"    31 non-null float64
dtypes: float64(2), int64(2)
memory usage: 1.0 KB

In [8]:
tree.columns # Column Names

Index(['Index', ' "Girth (in)"', ' "Height (ft)"', ' "Volume(ft^3)"'], dtype='object')

In [9]:
len(tree.columns)#Number of Columns

4