<a href="https://colab.research.google.com/github/SushruthDt/601_UMBC_IntroToDS/blob/main/Assignment_2/InClass_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment_2

In class practice

- Name : Sushruth
- Date : 02/07/2020

In [5]:
import pandas as pd
url = 'https://raw.githubusercontent.com/DATA-690-SPRING-2022/WANG/main/assignment_02/survey.csv'
df = pd.read_csv(url)
df.shape

(26, 13)

In [6]:
df.describe()

                        Timestamp  ...   12. Other courses taking this semester
count                          26  ...                                       26
unique                         26  ...                                       20
top     2022/01/25 5:14:48 PM EST  ...  Introduction to Data Science | DATA 601
freq                            1  ...                                        3

[4 rows x 13 columns]

In [7]:
df.describe()

                        Timestamp  ...   12. Other courses taking this semester
count                          26  ...                                       26
unique                         26  ...                                       20
top     2022/01/25 5:14:48 PM EST  ...  Introduction to Data Science | DATA 601
freq                            1  ...                                        3

[4 rows x 13 columns]

In [11]:
df.dtypes

Timestamp                                            object
1. My primary educational background                 object
2. My primary job function                           object
3. My level of computer programing knowledge         object
4. My level of Python progrmming knowledge           object
5. My level of Statistics knowledge                  object
6. My Familarity with GitHub                         object
7. My gender                                         object
8. My Birth Year                                     object
9. What do you enjoy doing in your leisure time?     object
10. What do you expect to get out of this course?    object
11. What is your long-term career goal?              object
12. Other courses taking this semester               object
dtype: object